<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/adminForm.css">
    <title>Admin Form</title>
    <style>
        html {
            padding: 0px;
            margin: 0px;
        }
        
        img {
            position: absolute;
            top: 50px;
            left: 100px;
            width: 200px;
        }
        
        body {
            padding: 0px;
            margin: 0px;
        }
        
        .banner {
            height: 40vh;
            background: radial-gradient(#4B4B4B, #0B1113);
        }
        
        .banner-inner {
            padding-top: 20vh;
            text-align: center;
        }
        
        .banner-inner h1 {
            display: inline;
            color: #FFB606;
            margin: 0px;
            font-size: 50px;
            letter-spacing: 5px;
            font-weight: 600;
            font-family: century gothic;
            background: rgba(196, 196, 196, 0.25);
            border-radius: 20px;
            padding: 15px;
        }
        
        .lower-pannel {
            /* background: linear-gradient(180deg, #696969 -0.92%, #0B1113 46.91%); */
            background-color: rgb(97, 92, 92);
            padding: 50px;
            padding-left: 80px;
        }
        
        form {
            width: 100%;
        }
        
        label {
            color: white;
            font-weight: 400;
            font-family: century gothic;
            font-size: 20px;
        }
        
        input {
            background-color: rgb(235, 230, 230);
            font-family: century gothic;
            text-decoration: none;
            border: none;
            outline: none;
            padding: 10px;
            border-bottom: 3px solid #FFB606;
            border-radius: 2px;
            width: 30%;
            margin: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        /* .detailsInput{
    padding: 0px;
    overflow: hidden;
    resize: vertical;
    min-width: 500px;
    min-height: 500px;
} */
        
        .textarea {
            font-family: century gothic;
            text-decoration: none;
            border: none;
            outline: none;
            padding: 10px;
            display: block;
            width: 70%;
            background-color: rgb(235, 230, 230);
            overflow: hidden;
            resize: both;
            min-height: 200px;
            margin: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 3px solid #FFB606;
            border-radius: 2px;
        }
        
        button {
            outline: none;
            text-decoration: none;
            border: none;
            padding: 15px;
            border-radius: 30px;
            font-size: larger;
            background-color: rgb(235, 230, 230);
            margin-left: 650px;
            margin-top: 30px;
        }
    </style>
</head>

<body>
    <div class="banner">
        <div class="banner-inner container">
            <img src="image/icons/GSUB12.png">
            <h1>Admin Form</h1>
        </div>
    </div>
    <div class="lower-pannel">
        <<<<<<< HEAD <form action="/events" method="POST">
            =======
            <form action="/adminform" method="POST">
                <label for="category">Category -</label><br>
                <select name="category">
                <option value="Administration" selected>Administration</option>
                <option value="Gymkhana">Gymkhana</option>
                <option value="Clubs">Clubs</option>
            </select><br> >>>>>>> d34de0114ac058a74c52379c1bb8a29861f66f0f
                <label for="heading">Heading -</label><br>
                <input type="text" name="title" placeholder="Heading..."><br>
                <label for="postedBy">Posted By -</label><br>
                <input type="text" name="author" placeholder="Posted By..."><br>
                <label for="deadline">Deadline -</label><br>
                <input type="date" name="deadline">
                <br>
                <label for="details">Details</label><br>
                <<<<<<< HEAD <!-- <input type="text" name="details" class="detailsInput" placeholder="Details..."><br> -->
                    <input class="textarea" role="textbox" contenteditable name="body"></input>

                    =======
                    <input type="text" name="details" class="detialsInput" placeholder="Details..."><br>
                    <!-- <span name="details" class="textarea" role="textbox" contenteditable></span> -->
                    <label for="links">Links & Google Doc</label><br>
                    <input type="url" name="links" placeholder="Links..."><br> >>>>>>> d34de0114ac058a74c52379c1bb8a29861f66f0f
                    <button>Submit</button>
            </form>
    </div>
</body>

</html>