<!DOCTYPE html>
<html lang="en">

<head>
    <title>Campus Life</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Course Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="./image/icons/GSUB12.png" />
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css" />
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="styles/campuslife_styles.css" />
    <link rel="stylesheet" type="text/css" href="styles/campuslife_responsive.css" />
    <link rel="stylesheet" href="styles/scroll.css">

</head>

<body id="div">
    <div class="super_container">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
            <div class="container">
                <!-- Brand -->
                <img src="./image/icons/GSUB12.png" style="padding:10px;width: 60px;height: 60px;">
                <a class="navbar-brand" href="#"><span>GUB</span></a>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Members
              </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/members">2019-2020</a>
                                <a class="dropdown-item" href="/oldmembers">2018-2019</a>
                                <a class="dropdown-item" href="/oldmembers2">2017-2018</a>
                                <a class="dropdown-item" href="/oldmembers3">2016-2017</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fest">Fest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/societies">Societies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/campus">Campus Life</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/activities">Activities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/events">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contacts</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Home -->

        <div class="home">
            <div class="home_content">
                <h1 style="color: #ffb606;font-family: Georgia, 'Times New Roman', Times, serif;">Campus Life</h1>
            </div>
        </div>

        <!-- Popular -->
        <!---About --->
        <div class="events page_section">
            <div class="container" style="background: white;border-radius: 30px">
                <div class="row">
                    <div class="col">
                        <br />
                        <div class="section_title text-center">
                            <h1></h1>
                        </div>
                    </div>
                </div>
                <div class="stt">
                    <p style="font-family: Verdana, Arial, Helvetica, sans-serif; color: black">
                        Amidst the natural beauty of Assam, National Institute of Technology, Silchar has a vast campus of around 600 acres. The greenery and the lakes enhance the scenic beauty of this campus. NIT Silchar has developed immensely, since 2002, in its facilities
                        considering education, co-curricular activities etc. Today, it has a well-furnished and maintained campus with promising developments in the coming days.
                    </p>

                    <h2 style="text-align:center;color:black">
                        Academic and General Facilities
                    </h2>
                    <p style="font-family: Verdana, Arial, Helvetica, sans-serif; color: black">

                        The Institute has an administrative block for the official work. It has well-built lecture classrooms for various technical departments as well as general studies. It has fully equipped and efficient labs for practical studies like chemistry lab, physics
                        lab, engineering graphics lab etc. Also different departments in the institute have their own labs and workshops like the mechanical workshop, the supercomputing center, etc. With our very own Research Promotion Cell and Indovation
                        Lab, ample opportunities are made available to the intriguing minds of our students. The college provides proper transportation services, in from of free bus and van services to its students for their conveyance. Further there
                        is a full-fledged core banking branch of State Bank of India which operates inside the campus.
                    </p>

                    <h2 style="text-align:center;color:black;margin-top: -15px;">Sports</h2>
                    <p style="font-family: Verdana, Arial, Helvetica, sans-serif; color: black">

                        Coming to the Fitness and sports section, our institute has a well-equipped and furnished Gym maintained by the Gymkhana Students Union Body and NITS authorities in collaboration. Well maintained playgrounds and kits as required for various sports like
                        Football, Cricket, Kabbadi, Kho-Kho and Hockey are available to the students. There are hard courts for basketball, volleyball and badminton within the campus. The heart of indoor activities for NIT Silchar's student fraternity
                        is the students' activity center, also known as SAC; which provides epitome of facilities in indoor sports like Table Tennis, Badminton and Boxing. The institute is also coming up with a new green energy based sports complex for
                        indoor and outdoor games in which the state-of-the-art facilities for various games and sports will be made available to the students. Here again, the responsibility of maintaining these hyperactive sports centers falls on the
                        shoulders of Gymkhana Students Union Body.
                    </p>

                    <h2 style="text-align:center;color:black;margin-top: -15px;">Other Facilities</h2>
                    <p style="font-family: Verdana, Arial, Helvetica, sans-serif; color: black">


                        As far as accommodation is concerned there are 10 boys hostels and 3 girls hostels in the campus. By talking in view the comfort and the growing student strength of the institute, a few more hostels are coming up in the near future. There is 24-hour water
                        and electricity supply and along with high speed internet facilities these hostels satisfy every need of the technically enriched minds of its boarders. A subtle health-care center is there to provide appropriate medical aids,
                        which also ensures 24-hour ambulance services for the residents of NITS.There is a post office inside the campus to serve students, faculties and other staff to provide hassleless postal service. The two prepossessing parks of
                        NITS, one near the faculty quarters and another near the heartland of NITS, encourage recreational activities and provide serene comfort in the premises. Also, by the effort of Boat Club, supervised by Gymkhana Students Union Body,
                        there are boats available for boating in the lakes within the campus.
                        <br /> These all amenities available at NIT Silchar provide a harmonic balance in the life of the students, in turn ensuring a pleasant for them.
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="footer">
            <div class="container">

                <div class="section_title text-center">
                    <h1></h1>
                </div>

                <!-- Footer Content -->

                <div class="footer_content">
                    <div class="row">

                        <!-- Footer Column - About -->
                        <div class="col-lg-3 footer_col">

                            <!-- Logo -->
                            <div class="logo_container" style="margin-top:18px">
                                <div class="logo">
                                    <img src="image/icons/GSUB12.png">
                                    <span style="font-weight: 700;font-size: 20px;">GUB</span>
                                </div>
                            </div>
                            <ul>
                                <li class="footer_about_text"><strong style="font-size: 2.5vh;color: ghostwhite;">
                    Individually,<br> &nbsp; &nbsp; &nbsp; We are One Drop...<br>Together <br>
                    &nbsp; &nbsp; &nbsp; We are an Ocean...</strong></li>
                            </ul>
                        </div>

                        <!-- Footer Column - Menu -->

                        <div class="col-lg-3 footer_col">
                            <div class="footer_column_title"><b>NITS</b></div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_list_item"><a href="index.html"><b>Home</b></a></li>
                                    <li class="footer_list_item"><a href="Current Members(2019).html"><b>Members</b></a></li>
                                    <li class="footer_list_item"><a href="FEST.html"><b>Fest</b></a></li>
                                    <li class="footer_list_item"><a href="societies.html"><b>Societies</b></a></li>
                                    <li class="footer_list_item"><a href="Campus Life.html"><b>Campus Life</b></a></li>

                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column - Useful Links -->

                        <div class="col-lg-3 footer_col">
                            <div class="footer_column_title"><b>Useful Links</b></div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_list_item"><a href="http://18.191.249.98:3000/?fbclid=IwAR1zXNaF39tKIdAAWf3E5oHbeoo58PKQwBCdyWV9_yueuqg5-Yg4d8APh_w" target="_blank" data-toggle="tooltip" data-placement="left" title="NIT Silchar Website"><b>Resource Hub</b></a></li>
                                    <li class="footer_list_item"><a href="http://www.nits.ac.in/" target="_blank" data-toggle="tooltip" data-placement="left" title="NIT Silchar Website"><b>nits.ac.in</b></a></li>
                                    <li class="footer_list_item"><a href="http://www.tecnoesis.org/?fbclid=IwAR2GxOEyD55Vil5cTnaK1n1ihCgVxeCgms4xGoK1eo8wqH8Q1eWZHZruhb4" target="_blank" data-toggle="tooltip" data-placement="left" title="Tecnoesis"><b>tecnoesis.org</b></a></li>
                                    <li class="footer_list_item"><a href="http://incand.org/" target="_blank" data-toggle="tooltip" data-placement="left" title="Incandescence"><b>http://incand.org</b></a></li>
                                    <li class="footer_list_item"><a href="http://www.nits.ac.in/AIINIT/index.html" target="_blank" data-toggle="tooltip" data-placement="left" title="ALL INDIA INTER NIT"><b>AIINIT</b></a></li>
                                </ul>

                            </div>
                        </div>

                        <!-- Footer Column - Contact -->

                        <div class="col-lg-3 footer_col" id="contact">
                            <div class="footer_column_title"><b>Contact Us</b></div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="image/icons/placeholder.svg">
                                        </div>
                                        <span>
                      <strong>Gymkhana Union Body
                        <br>
                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; NIT Silchar,Silchar
                        <!---ISSSUUEEEEE---->
                        <br>
                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Assam-788010
                      </strong>
                    </span>
                                    </li>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="image/icons/phone.png"></img>
                                        </div>
                                        +91-87892 86708
                                    </li>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="image/icons/envelope.svg"></img>
                                        </div><a href="mailto://@gymkhanaunionbodynitsilchar@gmail.com">gymkhanaunionbodynitsilchar@gmail.com</a><br><a href="mailto://vp_gymkhana@nits.ac.in">vp_gymkhana@nits.ac.in</a>
                                        <br><a href="mailto://gs_gymkhana@nits.ac.in">gs_gymkhana@nits.ac.in</a>

                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Footer -->

                <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
                    <div class="footer_copyright">

                        <span>
              <h5 style="color: ghostwhite;">

                &copy;<script>
                  document.write(new Date().getFullYear());
                </script> GUB NIT SILCHAR</h5>
              <!-- <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
            </span>
                        <span>
              <ul>
                <li>
                  <h4 style="color: ghostwhite;font-size:15px ;"><strong>Developers:-</strong></h4>
                </li>

                <li class="menu_social_item"><a href="https://www.linkedin.com/in/aditya-singh-sisodiya-scortier/"
                    target="_blank">Aditya Singh Sisodiya</a>
                </li>

                <li class="menu_social_item" target="_blank"><a
                    href="https://www.linkedin.com/in/nabanita-bania-27b141169/" target="_blank">Nabanita Bania</a>
                </li>

              </ul>

            </span>
                    </div>
                    <div class="footer_social ml-sm-auto">
                        <ul class="menu_social">

                            <li class="menu_social_item">
                                <a href="https://www.facebook.com/GymkhanaUnionBodyNitSilchar" target="_blank"><img src="image/icons/fbb.png" height="75px" width="75px"></a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </footer>
    </div>

    <a class="gotopbtn" href="#"> </a>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/greensock/TweenMax.min.js"></script>
    <script src="plugins/greensock/TimelineMax.min.js"></script>
    <script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="plugins/greensock/animation.gsap.min.js"></script>
    <script src="plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="js/courses_custom.js"></script>
    <script src="js/socities.js"></script>

</body>
<script>
    let bodydiv = document.getElementById('div');
    let mainId = document.getElementById('collapsibleNavbar');
    bodydiv.addEventListener('click', clickoutside);

    function clickoutside(e) {
        mainId.classList.remove('show');
    }
</script>

</html>