<!DOCTYPE html>
<html lang="en">

<head>
    <title>MEMBERS</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Course Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css" />
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="styles/members2019_styles.css" />
    <link rel="stylesheet" type="text/css" href="styles/members2019_responsive.css" />
    <link rel="icon" href="./image/icons/GSUB12.png" />
    <link rel="stylesheet" href="styles/scroll.css">

</head>

<body id="div">
    <div class="super_container">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
            <div class="container">
                <!-- Brand -->
                <img src="./image/icons/GSUB12.png" style="padding:10px;width: 60px;height: 60px;">
                <a class="navbar-brand" href="#"><span>GUB</span></a>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Members
          </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/members">2019-2020</a>
                                <a class="dropdown-item" href="/oldmembers">2018-2019</a>
                                <a class="dropdown-item" href="/oldmembers2">2017-2018</a>
                                <a class="dropdown-item" href="/oldmembers3">2016-2017</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fest">Fest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/societies">Societies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/campus">Campus Life</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/activities">Activities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/events">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contacts</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <!-- Home -->

        <div class="home">
            <div class="home_background_container prlx_parent">
                <div class="home_background prlx"></div>
            </div>
            <div class="home_content" style="background: rgba(0,0,0,0.5)">
                <h1 style="color:#b3cfeb;font-family: 'Bree Serif', serif;">Current Members</h1>
            </div>
        </div>

        <!-- Members -->
        <div class="xyz" style="border-radius: 30px;background-color: ivory;">
            <div class="teachers page_section" style="border-radius: 30px;">
                <div class="container">
                    <div class="row">
                        <!-- R.D.MISHRA -->
                        <div class="col-lg-4 teacher" style="margin: 0 auto;margin-bottom: -150px;">
                            <div class="card">
                                <div class="card_img">
                                    <!--<div class="card_plus trans_200  text-center" style="z-index:1";><a href="http://www.nits.ac.in/departments/mech/mech.php"><img src="image/icons/fbb.png"></a></div>-->
                                    <img class="card-img-top trans_200" src="image/mem/deansw.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">R.D.Mishra</a></div>
                                    <div class="card-text">Dean<br />(Student Welfare)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="teachers page_section">
                <div class="container">
                    <div class="row">
                        <!-- Ashish Ranjan -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/whyisashish"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/ashish.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Ashish Ranjan</a></div>
                                    <div class="card-text">Vice President</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/insta_ashish.ranjan/"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/ashish72666813b/"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Dupal Jit -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/dupal.jit"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/dupaljit.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Dupal Jit Das</a></div>
                                    <div class="card-text">General Secretary</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/_optimus_d/"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="#"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Siddarth -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/siddhartha.singh.967"><img src="image/icons/fbb.png" target="_blank" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/sid.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title">
                                        <a href="#">Siddartha Singh</a>
                                    </div>
                                    <div class="card-text">General Secretary(Technical)</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/siddh_arthh/" target="_blank"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/siddhartha-singh-b1b3b1144" target="_blank"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- sarvagya -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/sarvagya.saxena.18"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/sarvagya.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title">
                                        <a href="#">Sarvagya Saxena</a>
                                    </div>
                                    <div class="card-text">
                                        General Secretary<br />(Cultural)
                                    </div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/server_saxena/"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="#"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Ashish Kumar Thakur -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/shubham.cricket.7"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/thakur.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title">
                                        <a href="#">Ashish Kumar Thakur</a>
                                    </div>
                                    <div class="card-text">Secretary<br />(Sports)</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://instagram.com/ashish_sori?igshid=3epoeylltis3"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="#"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- arnab -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/profile.php?id=100009744844536"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/arnab.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Arnab Das</a></div>
                                    <div class="card-text">
                                        Secretary<br />(Literary,Publication and Fine Arts)
                                    </div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://instagram.com/_das_anybodycare_?igshid=10afpgkgbuail"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/arnab-das-0206/"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Swaraj Bhattacharjee -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/swaraj.bhattacharjee.9"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/swaraj.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title">
                                        <a href="#">Swaraj Bhattacharjee</a>
                                    </div>
                                    <div class="card-text">Secretary<br />(Dramatics Club)</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/_swaraj_27/"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="#"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Bhargav Bharti  -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/Bharati.0"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/bhargava.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title">
                                        <a href="#">Bhargava Bharati</a>
                                    </div>
                                    <div class="card-text">Secretary<br />(Eco Club)</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/bhargavbharati"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/bhargav-bharati-055819177"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Yash Banthia -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/profile.php?id=100008020212294"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/yash.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Yash Banthia</a></div>
                                    <div class="card-text">Secretary<br />(Cricket)</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://instagram.com/y_ash_19"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/yash-jain-9916901aa"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Sohail Sajid Alam -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/soh.xlm"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/sohail.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title">
                                        <a href="#">Sohail Sajid Alam</a>
                                    </div>
                                    <div class="card-text">Secretary<br />(Indoor Games)</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/sohailxlm"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/sohail-alam-a5bbbb144/"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Rishab Surana -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/rishabh.surana.5030"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/rishab.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Rishab Surana</a></div>
                                    <div class="card-text">Secretary<br />(Dance Club)</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://instagram.com/rishabh__surana___?igshid=cfnaok857qoe"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/rishab-jain-7655a9197"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Aveek Sharma -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/profile.php?id=100009493592436"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/aveek.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Aveek Sharma</a></div>
                                    <div class="card-text">Secretary<br />(Music Club)</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/aveek_sharma/"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="#"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tushar Agarwal -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/tush6668"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/tushar.jpeg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Tushar Agarwal</a></div>
                                    <div class="card-text">
                                        Secretary<br />(Photography Club)
                                    </div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/tushar__6668/"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/tush6668/"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Koustav Sen -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/kaustav.sen.984"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/kaustav.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Koustav Sen</a></div>
                                    <div class="card-text">Secretary<br />(Football Club)</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/kaustav_cr7/"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/kaustav-sen-3099381a8"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Swastic Jena -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/swatj12"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/swastic.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Swastik Jena</a></div>
                                    <div class="card-text">
                                        Secretary<br />(Basketball,Volleyball & Handball)
                                    </div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/naitfox_/"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/swastik-jena-b0849b155/"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Koustubh R Borah -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/koustobh.shenron"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/Koustubh R Borah.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title">
                                        <a href="#">Koustubh R Borah</a>
                                    </div>
                                    <div class="card-text">Secretary<br />(Tennis)</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/krb_integrated/"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="#"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Shubham Joshi -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/shubham.joshi.71"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/shubham19.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Shubham Joshi</a></div>
                                    <div class="card-text">
                                        Secretary<br />(Athletics and Gymnasium)
                                    </div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://instagram.com/shubham_joshi25 "><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/shubham-joshi-322967177"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Aman Kumar -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/sakha.sumant"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/aman19.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Aman Kumar</a></div>
                                    <div class="card-text">
                                        Secretary<br />(Mountaineering,Trekking,Karate & Skating)
                                    </div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/a_devil_soul_007/"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/aman-kumar-933824177"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Mukesh -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/mukesh.bairu"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/Mukesh.jpeg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Mukesh Bairu</a></div>
                                    <div class="card-text">
                                        Secretary<br />(Kabaddi and Kho-kho)
                                    </div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/mukeshbairu/"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="#"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Mayurakshi Chanda -->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/mayurakshi.chanda"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/mayurakshi.JPG" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title">
                                        <a href="#">Mayurakshi Chanda</a>
                                    </div>
                                    <div class="card-text">Girls Representative</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/mayurxk"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/mayurakshi-chanda-2379b9152/"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- K Lamnganbi Singha-->
                        <div class="col-lg-4 teacher">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/lamnganbi.khuman"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/lamn.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title">
                                        <a href="#">K Lamnganbi Singha</a>
                                    </div>
                                    <div class="card-text">Girls Representative</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/lamnganbikhuman"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="https://www.linkedin.com/in/k-lamnganbi-3987b41a5"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Arumalla Pooja -->
                        <div class="col-lg-4 teacher" style="margin-left: 150px;">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/pooja.arumalla"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/pooja.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">Arumalla Pooja</a></div>
                                    <div class="card-text">PG Representative</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href="https://www.instagram.com/p/B98YKcnHgvVMGX2kbWeIQfqb3O0MCYyGAeDlRk0/?igshid=1dxpeeien879d"><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="http://linkedin.com/in/pooja-arumalla-a1957b16a"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Lokavarapu Rama Krishna -->
                        <div class="col-lg-4 teacher" style="margin-left: 80px;">
                            <div class="card">
                                <div class="card_img">
                                    <div class="card_plus trans_200  text-center" style="z-index:1" ;>
                                        <a href="https://www.facebook.com/ramakrishna.lokavarapu.56"><img src="image/icons/fbb.png" /></a>
                                    </div>
                                    <img class="card-img-top trans_200" src="image/mem/rama.jpg" width="280px" height="310px" />
                                </div>
                                <div class="card-body  text-center" style="z-index:1" ;>
                                    <div class="card-title"><a href="#">L Rama Krishna</a></div>
                                    <div class="card-text">PG Representative</div>
                                    <div class="teacher_social">
                                        <ul class="menu_social">
                                            <li class="menu_social_item">
                                                <a href=""><img src="image/icons/insta.png" height="50px" width="50px" /></a>
                                            </li>
                                            <li class="menu_social_item">
                                                <a href="#"><img src="image/icons/li.png" height="50px" width="50px" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">

                <div class="section_title text-center">
                    <h1></h1>
                </div>

                <!-- Footer Content -->

                <div class="footer_content">
                    <div class="row">

                        <!-- Footer Column - About -->
                        <div class="col-lg-3 footer_col">

                            <!-- Logo -->
                            <div class="logo_container" style="margin-top:18px">
                                <div class="logo">
                                    <img src="image/icons/GSUB12.png">
                                    <span style="font-weight: 700;font-size: 20px;">GUB</span>
                                </div>
                            </div>
                            <ul>
                                <li class="footer_about_text"><strong style="font-size: 2.5vh;color: ghostwhite;">
                      Individually,<br> &nbsp; &nbsp; &nbsp; We are One Drop...<br>Together <br>
                      &nbsp; &nbsp; &nbsp; We are an Ocean...</strong></li>
                            </ul>
                        </div>

                        <!-- Footer Column - Menu -->

                        <div class="col-lg-3 footer_col">
                            <div class="footer_column_title"><b>NITS</b></div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_list_item"><a href="/index"><b>Home</b></a></li>
                                    <li class="footer_list_item"><a href="/members"><b>Members</b></a>
                                    </li>
                                    <li class="footer_list_item"><a href="/fest"><b>Fest</b></a></li>
                                    <li class="footer_list_item"><a href="/societies"><b>Societies</b></a></li>
                                    <li class="footer_list_item"><a href="/campus"><b>Campus Life</b></a></li>
                                    <li class="footer_list_item"><a href="/events"><b>Events</b></a></li>

                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column - Usefull Links -->

                        <div class="col-lg-3 footer_col">
                            <div class="footer_column_title"><b>Useful Links</b></div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_list_item"><a href="http://18.191.249.98:3000/?fbclid=IwAR1zXNaF39tKIdAAWf3E5oHbeoo58PKQwBCdyWV9_yueuqg5-Yg4d8APh_w" target="_blank" data-toggle="tooltip" data-placement="left" title="NIT Silchar Website"><b>Resource Hub</b></a></li>
                                    <li class="footer_list_item"><a href="http://www.nits.ac.in/" target="_blank" data-toggle="tooltip" data-placement="left" title="NIT Silchar Website"><b>nits.ac.in</b></a></li>
                                    <li class="footer_list_item"><a href="http://www.tecnoesis.org/?fbclid=IwAR2GxOEyD55Vil5cTnaK1n1ihCgVxeCgms4xGoK1eo8wqH8Q1eWZHZruhb4" target="_blank" data-toggle="tooltip" data-placement="left" title="Tecnoesis"><b>tecnoesis.org</b></a></li>
                                    <li class="footer_list_item"><a href="http://incand.org/" target="_blank" data-toggle="tooltip" data-placement="left" title="Incandescence"><b>http://incand.org</b></a></li>
                                    <li class="footer_list_item"><a href="http://www.nits.ac.in/AIINIT/index.html" target="_blank" data-toggle="tooltip" data-placement="left" title="ALL INDIA INTER NIT"><b>AIINIT</b></a></li>
                                </ul>

                            </div>
                        </div>

                        <!-- Footer Column - Contact -->

                        <div class="col-lg-3 footer_col" id="contact">
                            <div class="footer_column_title"><b>Contact Us</b></div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="image/icons/placeholder.svg">
                                        </div>
                                        <span>
                        <strong>Gymkhana Union Body
                          <br>
                          &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; NIT Silchar,Silchar
                          <!---ISSSUUEEEEE---->
                          <br>
                          &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Assam-788010
                        </strong>
                      </span>
                                    </li>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="image/icons/phone.png"></img>
                                        </div>
                                        +91-87892 86708
                                    </li>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="image/icons/envelope.svg"></img>
                                        </div><a href="mailto://@gymkhanaunionbodynitsilchar@gmail.com">gymkhanaunionbodynitsilchar@gmail.com</a><br><a href="mailto://vp_gymkhana@nits.ac.in">vp_gymkhana@nits.ac.in</a>
                                        <br><a href="mailto://gs_gymkhana@nits.ac.in">gs_gymkhana@nits.ac.in</a>

                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Footer -->

                <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
                    <div class="footer_copyright">

                        <span>
                <h5 style="color: ghostwhite;">
  
                  &copy;<script>
                    document.write(new Date().getFullYear());
                  </script> GUB NIT SILCHAR</h5>
                <!-- <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
              </span>
                        <span>
                <ul>
                  <li>
                    <h4 style="color: ghostwhite;font-size:15px ;"><strong>Developers:-</strong></h4>
                  </li>
  
                  <li class="menu_social_item"><a
                      href="https://www.linkedin.com/in/aditya-singh-sisodiya-scortier/"
                      target="_blank">Aditya Singh Sisodiya</a>
                  </li>
  
                  <li class="menu_social_item" target="_blank"><a
                      href="https://www.linkedin.com/in/nabanita-bania-27b141169/"
                      target="_blank">Nabanita Bania</a>
                  </li>
  
                </ul>
  
              </span>
                    </div>
                    <div class="footer_social ml-sm-auto">
                        <ul class="menu_social">

                            <li class="menu_social_item">
                                <a href="https://www.facebook.com/GymkhanaUnionBodyNitSilchar" target="_blank"><img src="image/icons/fbb.png" height="75px" width="75px"></a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <a class="gotopbtn" href="#"> </a>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/greensock/TweenMax.min.js"></script>
    <script src="plugins/greensock/TimelineMax.min.js"></script>
    <script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="plugins/greensock/animation.gsap.min.js"></script>
    <script src="plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="js/teachers_custom.js"></script>
    <script src="js/socities.js"></script>

</body>
<script>
    let bodydiv = document.getElementById('div');
    let mainId = document.getElementById('collapsibleNavbar');
    bodydiv.addEventListener('click', clickoutside);

    function clickoutside(e) {
        mainId.classList.remove('show');
    }
</script>

</html>