<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<head>
    <title>Events</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles/events.css" type=text/css> </head>

<body style="overflow-x: hidden; text-align: initial;">
    <div class="wrapper no-scrollbar">
        <div class="header">

        </div>

        <br /><br />
        <hr />

        <p>From the administration..</p>
        <div>
            <ul class="hs full">
                <li class="item">
                    <div class="mycard">
                        <div class="subjectIcon" style="background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);">
                        </div>
                        <h4 class="topicName">Topic </h4>
                        <h4 class="topicAuthor">Author</h4>
                        <h4 class="topicDate">on Date</h4>
                    </div>
                    </a>
                </li>
                <li class="item">
                    <div class="mycard">
                        <div class="subjectIcon" style="background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);">
                        </div>
                        <h4 class="topicName">Topic </h4>
                        <h4 class="topicAuthor">Author</h4>
                        <h4 class="topicDate">on Date</h4>
                    </div>
                    </a>
                </li>
                <li class="item">
                    <div class="mycard">
                        <div class="subjectIcon" style="background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);">
                        </div>
                        <h4 class="topicName">Topic </h4>
                        <h4 class="topicAuthor">Author</h4>
                        <h4 class="topicDate">on Date</h4>
                    </div>
                    </a>
                </li>

            </ul>
        </div>

        <p>Gymkhana Events</p>
        <div>
            <ul class="hs full">
                <li class="item">
                    <div class="mycard">
                        <div class="subjectIcon" style="background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);">
                        </div>
                        <h4 class="topicName">Topic </h4>
                        <h4 class="topicAuthor">Author</h4>
                        <h4 class="topicDate">on Date</h4>
                    </div>
                    </a>
                </li>
                <li class="item">
                    <div class="mycard">
                        <div class="subjectIcon" style="background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);">
                        </div>
                        <h4 class="topicName">Topic </h4>
                        <h4 class="topicAuthor">Author</h4>
                        <h4 class="topicDate">on Date</h4>
                    </div>
                    </a>
                </li>
                <li class="item">
                    <div class="mycard">
                        <div class="subjectIcon" style="background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);">
                        </div>
                        <h4 class="topicName">Topic </h4>
                        <h4 class="topicAuthor">Author</h4>
                        <h4 class="topicDate">on Date</h4>
                    </div>
                    </a>
                </li>

            </ul>
        </div>

        <p>Club Activities</p>
        <div>
            <ul class="hs full">
                <li class="item">
                    <div class="mycard">
                        <div class="subjectIcon" style="background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);">
                        </div>
                        <h4 class="topicName">Topic </h4>
                        <h4 class="topicAuthor">Author</h4>
                        <h4 class="topicDate">on Date</h4>
                    </div>
                    </a>
                </li>
                <li class="item">
                    <div class="mycard">
                        <div class="subjectIcon" style="background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);">
                        </div>
                        <h4 class="topicName">Topic </h4>
                        <h4 class="topicAuthor">Author</h4>
                        <h4 class="topicDate">on Date</h4>
                    </div>
                    </a>
                </li>
                <li class="item">
                    <div class="mycard">
                        <div class="subjectIcon" style="background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);">
                        </div>
                        <h4 class="topicName">Topic </h4>
                        <h4 class="topicAuthor">Author</h4>
                        <h4 class="topicDate">on Date</h4>
                    </div>
                    </a>
                </li>

            </ul>
        </div>


    </div>
    <br />
    <hr />

</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script></script>

</html>