html{
    padding: 0px;
    margin: 0px;
}
img{
    top: 50px;
    left: 100px;
    width: 200px;
}
body{
    padding: 0px;
    margin: 0px;
}
.banner{
    height: 40vh;
    background: radial-gradient(#4B4B4B, #0B1113);
}
.banner-inner{
    padding-top: 2vh;
    text-align: center;
}
.banner-inner h1{
    display: block;    
    color:#FFB606;
    margin-left: 39vw;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 600;
    font-family: century gothic;
    background: rgba(196, 196, 196, 0.25);
    border-radius: 20px;
    padding: 15px;
    width: 20%;
}
.logo{

}

.heading{

}

.lower-pannel{
    /* background: linear-gradient(180deg, #696969 -0.92%, #0B1113 46.91%); */
    background-color: rgb(97, 92, 92);
    padding: 50px;
    padding-left: 80px;
}
form{
    width: 100%;
}
label{
    color: white;
    font-weight: 400;
    font-family: century gothic;
    font-size: 20px;
}
input,select{
    background-color: rgb(235, 230, 230);
    font-family: century gothic;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px;
    border-bottom:3px solid #FFB606;
    border-radius: 2px;
    width: 30%;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
select{
    width: 20%;
}
.detailsInput{
    padding: 0px;
    overflow: hidden;
    /* min-width: 100px; */
    min-height: 50px;
    resize: vertical;
}
.textarea{
    font-family: century gothic;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px;
    display: block;
    width: 70%;
    background-color: rgb(235, 230, 230);
    overflow: hidden;
    resize: both;
    min-height: 200px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom:3px solid #FFB606;
    border-radius: 2px;
}
button{
    outline: none;
    text-decoration: none;
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-size: larger;
    background-color:  rgb(235, 230, 230);
    margin-left: 650px;
    margin-top: 30px;
}

@media screen and (max-width:1750px)
{
    .banner{
        height: 45vh;;
    }
    .banner-inner{
        padding-top: 20px;
    }
    .banner-inner h1{
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        width: 90vw;
    }
    select{
        width: 100%;
    }
    .lower-pannel{
        padding-left: 10px;
    }
    input{
        width: 100%;
    }
    button{
        display: grid;
        margin:auto;
    }
}