@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700");
body {
  background-image: linear-gradient(to right, #fdfbfb, #ebedee);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -10;
}

* {
  box-sizing: border-box;
  font-weight: normal;
}

@media (min-width: 800px) {
  .hs {
    margin-left: 100px;
    margin-right: 100px;
    grid-auto-flow: column;
  }
}

@media (max-width: 800px) {
  .hs {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Cards  */

.grid-item {
  color: #fff;
  padding: 3.5em 1em;
  font-size: 1em;
  font-weight: 700;
  margin-top: 70px;
}

.main {
  /* color: lighten($gray, 25%); */
  grid-area: main;
  padding-right: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 20px;
}

@media (min-width: 800px) {
  .main {
    padding-left: 150px;
  }
}

@media (max-width: 800px) {
  .main {
    padding-left: 15px;
  }
  .grid-item {
    margin-top: 20px;
  }
}

.items {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.items::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
}

.main::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
}

.items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.items .before {
  left: 0;
  background: linear-gradient(
    linear,
    left top,
    right top,
    from(#fafafa),
    to(rgba(250, 250, 250, 0))
  );
}

.item1 {
  background-image: url("../image/events/1.jpg");
  background-size: cover;
}

.item2 {
  background-image: url("../image/events/2.jpg");
  background-size: cover;
}

.item3 {
  background-image: url("../image/events/3.jpg");
  background-size: cover;
}

.item4 {
  background-image: url("../image/events/4.jpg");
  background-size: cover;
}

.item5 {
  background-image: url("../image/events/1.jpg");
  background-size: cover;
}

.item6 {
  background-image: url("../image/events/2.jpg");
  background-size: cover;
}

.item {
  display: inline-block;
  /* background: skyblue; */
  min-height: 300px;
  width: 325px;
  max-width: 325px;
  margin: 2em 1em;
  overflow: hidden;
  border-radius: 5%;
  transform: translateY(0px);
  transition: ease 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.068);
  @media screen and (max-width: 500px) {
    min-height: 200px;
    min-width: 200px;
  }
}

.item:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.397);
}

.sub-topic {
  margin-top: 20px;
  margin-left: 20px;
}

.sub-topic > h5 {
  color: rgba(251, 250, 250, 0.883);
  font-size: 1.4rem;
}

.topic > h4 {
  color: #fff;
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.5rem;
}

.bottom-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 60%;
  height: 150px;
}

.bottom-info .details {
  padding-top: 30px;
}

/* Main Body */

.main-body {
  width: 100%;
  padding-top: 300px;
  padding-left: 200px;
  padding-right: 200px;
}

.top-para {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 2.29;
  font-weight: 700;
  color: black;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-transform: uppercase;
  margin-left: 30px;
  margin-bottom: 0;
}

#top-para {
  margin-top: 20px;
}
.info {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bolder;
}
.by {
  margin-bottom: 0;
}
.post-date {
}
.details-button {
  position: absolute;
  padding: 15px;
  left: 70%;
  border-radius: 10px;
  z-index: 5;
  bottom: 120px;
  background: rgb(0, 234, 255);
}

.button {
  text-decoration: none;
  color: white;
  text-shadow: black;
  font-weight: bold;
  font-size: 18px;
}

.details-button:hover {
  transition: ease 0.5s;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.472);
}

.home {
  width: 100%;
  height: 600px;
}

.home_background_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home_background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* .home_content {
    position: absolute;
    left: 50%;
    bottom: 25px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 39px;
    padding-right: 42px;
} */

.home_content h1 {
  font-size: 72px;
  font-weight: 400;
  color: #ffb606;
  line-height: 0.5;
  /*font-family:comic san;*/
}

.home_content {
  box-shadow: 5px;
  border-radius: 25px;
  left: 50%;
  bottom: 4px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.44);
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 39px;
  padding-right: 42px;
  max-width: fit-content;
  top: 160px;
}

.home_content h1 {
  font-size: 72px;
  font-weight: 400;
  color: #ffffff;
  line-height: 0.85;
}
