body{
    background-color: #CCCCCC;
}
.banner{
    height: 430px;
    background: radial-gradient(#4B4B4B, #0B1113);
}
.banner-inner{
    padding-top: 200px ;
    text-align: center;
}
.banner-inner h1{
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 600;
    font-family: century gothic;
}
.back{
    font-size: x-large;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 100px;
    left: -130px;
}
.back:hover{
    color: white;
}
.lower-panel{
    position: relative;
    top: -65px;
    background: linear-gradient(180deg, #FFFFFF 66.67%, #CCCCCC 100%);
    display: table;
    clear: both;
    border-radius: 70px 70px 0px 0px;
    height: 100%;
}
.left-col{
    width: 40%;
    float: left;
}
.right-col{
    width: 60%;
    float: left;
}
.left-card{
    margin-right: 30px;
    position: relative;
    top: -50px;
    float: right;
    width: 480px;
    background-color: #fff;
    border-radius: 55px;
    box-shadow: 0px 14px 74px 2px rgba(0, 0, 0, 0.3);
    transition:all 0.1s;
}
.left-card:hover{
    box-shadow: 0px 10px 7px 2px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}
.heading{
    border-radius: 55px 55px 4px 4px;
    padding: 60px;
    text-align: center;
    background-color: #4d88ff;
    font-size: 33px;
    color: white;
    font-family: "Roboto", sans-serif;
}
img{
    width: 90%;
}
.image-1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    height: 400px;
    background-color: rgb(43, 39, 39);
    margin: 40px;
    box-shadow: 3px 3px 6px;
    transition: 0.2s;
}
.image-1:hover{
    transform: scale(1.01);
    box-shadow: 4px 4px 5px;
}
.form-link{
    padding: 10px 30px;
}
.form-link h2{
    font-size: x-large;
}
.form-link a{
    font-size: larger;
    word-wrap: break-word;
}
.right-card{
    padding: 70px;
}
.publisher{
    padding: 3px;
    font-size: larger;
}
.publisher img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.publisher span{
    color: black;
    font-size: 24px;
    margin-left: 30px;
}
.publisher div{
    font-size: 20px;
    margin: 10px 0px;
}
.deadline{
    margin: 10px 30px;
    font-size: 25px;
    color: black;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}
.deadline span{
    margin-left: 30px;
    font-size: 27px;
    color: rgb(247, 36, 36) ;
}
.timeLeft{
    font-size: 20px;
    margin-left: 10px;
}
.details{
    padding: 40px;
    font-size: larger;
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 10px 7px 2px rgba(0, 0, 0, 0.3);
}
.details p{
    color: black;
}
@media screen and (max-width: 1350px){
    .left-col{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .right-col{
        width: 100%;
        padding: 0px;
    }
    .left-card{
        float: left;
        margin: 0px;
        top: -30px ;
    }
    .right-card{
        margin: 0px;
        padding: 30px;
    }
    .back{
        top: 15vh;
        left: 2vw;
    }
}
@media screen and (max-width: 430px){
    .left-card{
        width: 300px;
    }
    .details{
        padding: 10px;
    }
    .right-card{
        margin: 0px;
        padding: 10px;
    }
    .deadline{
        margin: 10px 30px;
        font-size: 17px;
        color: black;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
    }
    .deadline span{
        margin-left: 30px;
        font-size: 23px;
        color: rgb(247, 36, 36) ;
    }
    .timeLeft{
        font-size: 17px;
        margin-left: 0px;
    }
    .image-1{
        height: 250px;
    }
    .back{
        font-size: larger;
    }
}
@media screen and (max-width: 375px){
    .banner-inner h1{
        font-size: 40px;
    }
    .left-card{
        width: 290px;
    }
    .deadline{
        margin: 10px 30px;
        font-size: 15px;
        color: black;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
    }
    .deadline span{
        margin-left: 5px;
        font-size: 20px;
        color: rgb(247, 36, 36) ;
    }
    .timeLeft{
        font-size: 15px;
        margin-left: 0px;
    }
}
.footer_social{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
}