@charset "utf-8";
/* CSS Document */

/******************************

COLOR PALETTE




[Table of Contents]
0. About
1. Fonts
2. Body and some general stuff
3. Header
	3.1 Logo
	3.2 Main Nav
	3.3 Header Side
	3.4 Hamburger
4. Menu
	4.1 Menu Social
	4.2 Menu copyright
5. Home
	5.1 Hero Slider
	5.2 Hero Slider Navigation
6. Hero Boxes
7. Page Section
8. Buttons
9. Popular
10. Register
11. Search
	11.1 Search Form
12. Services
13. Testimonials
14. Events
15. Footer
	15.1 Newsletter
	15.2 Footer Content
	15.3 Footer Copyright


******************************/
/***********
0. About
***********/
.stt{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: black;
	background: #FFFFFF;
}
/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 2.29;
	font-weight: 400;
	color: black;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
/* a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
} */
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #FFD266;
	color: #C88E00;
}
p::selection
{
	background: #FFD266;
	color: #C88E00;
}
h1{font-size: 36px;}
h2{font-size: 22px;}
h3{font-size: 18px;}
h4{font-size: 14px;}
h5{font-size: 11px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
::-moz-placeholder /* Firefox 19+ */ 
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
} 
:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
::input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}

/*********************************
3. Header
*********************************/
@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');
.body{
	font-family: 'Gothic A1', sans-serif;
	font-size:16px;
	}
	p{
	color:#6c6c6f;
	font-size:1em;
	}
	h1,h2,h3,h4,h5,h6{color:#323233;text-transform:uppercase;}
.navbar-brand  span{
	color: #ffb606;
	font-size:25px;font-weight:700;letter-spacing:0.1em;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}
.navbar-brand {
	color: #fff;
	font-size:25px;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
	font-weight:700;
	letter-spacing:0.1em;
}

.navbar-nav .nav-item .nav-link{
	padding: 1.1em 1em!important;
	font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
   font-family: 'Gothic A1', sans-serif;
}
.navbar-nav .nav-item .nav-link:hover{color:#ffb606;}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid #ffb606;
}
.dropdown-item:hover{background-color:#ffb606;color:#fff;}
nav{-webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
	}
	
 .shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
}


/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 100vh;
}


/*********************************
7. Page Section
*********************************/

.page_section
{
	padding-top: 117px;
	padding-bottom: 117px;
}

.section_title h1
{
	display: block;
	color: #1a1a1a;
	font-weight: 500;
	padding-top: 24px;
}
.section_title h1::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 55px;
	height: 4px;
	content: '';
	background: #ffb606;
}

/*********************************
8. Buttons
*********************************/

.button
{
	cursor: pointer;
}
.button:hover
{
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
.button a
{
	font-size: 14px;
	line-height: 48px;
	font-weight: 700;
	text-transform: uppercase;
}
.button_1
{
	width: 202px;
	height: 48px;
}

/*********************************
15. Footer
*********************************/

.footer
{
	width: 100%;
	padding-top: 86px;
	background: #1a1a1a;
}
.footer .section_title h1
{
	color: #FFFFFF;
}



/*********************************
15.2 Footer Content
*********************************/

.footer_content 
{
	padding-top: 50px;
	padding-bottom: 83px;
	border-bottom: solid 2px #4d4e4e;
}
.footer_content .logo_container
{
	padding-left: 0px;
}
.footer_content .logo span
{
	color: #FFFFFF;
}
.footer_about_text
{
	margin-top: 24px;
	margin-bottom: 0px;
	padding-right: 20px;
}
.footer_column_title
{
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	padding-top: 15px;
}
.footer_column_content
{
	margin-top: 32px;
}
.footer_list_item
{
	margin-bottom: 11px;
}
.footer_list_item a
{
	font-size: 14px;
	color: #a5a5a5;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_list_item a:hover
{
	color: #ffb606;
}
.footer_contact_item
{
	font-size: 14px;
	font-weight: 400;
	color: #a5a5a5;
	margin-bottom: 22px;
}
.footer_contact_item:last-child
{
	margin-bottom: 0px;
}
.footer_contact_icon
{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 10px;
}
.footer_contact_icon img
{
	width: 100%;
}

/*********************************
15.3 Footer Copyright
*********************************/

.footer_bar
{
	padding-top: 29px;
	padding-bottom: 50px;
}
.footer_social .menu_social_item a i
{
	color: #FFFFFF;
}
.footer_social .menu_social_item a i:hover
{
	color: #ffb606;
}
.footer_social .menu_social_item:last-child
{
	margin-right: 0px;
}




/*****************************
card
**********************/

body {
background: url(../image/background.png);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100%


}

.box {
	height: 500px;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: auto auto;
	padding: auto auto;
	display: flex;
	flex-flow: row wrap;
	
}

.singlebox {
	height: 500px;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: auto auto;
	padding: auto auto;
	display: flex;
	flex-flow: row wrap;
	
}

.rows {
	justify-content: center;
	align-items: center;
	margin: auto auto;
	padding: auto auto;
}

.columns {
	display: inline-flex;
	height: 400px;
	width: 350px;
	margin: auto auto;
	padding: auto auto;
	align-items: center;
	justify-content: center;
	
}



.middle {
    position: absolute;
    
}



.card {
    cursor: pointer;
    display: inline-block;
    width: 300px;
    height: 350px;
	border: none;
	border-radius: 15px;
	background-color: rgba(0,0,0,0.1);
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
	border-radius: 15px;
	
}

.front h1 {
    color: #ffffff;
}

.front img {
    height: 350px;
    width: 300px;
}

.front {
   
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background-color: #f1f1f1;
	transform: perspective(600px) rotateY(180deg);
}

.back-content {
    color: #2c3e50;
    text-align: center;
	width: 100%;

}

.sm a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%;
}

.heading {
    justify-content: center;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #1a1a1a;
	margin-top: 180px;
	margin-bottom: 40px;
    font-size: 4rem;
    font-weight: 800;
}

.sm a:hover {
    background: #2c3e50;
    color: #f1f1f1;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}




@media only screen and (max-width: 768px) {

	body {
		background-size: auto;
	}

	.navbar {
		background: #212529;
	}
	
	.box {
		width: 100%;
		height: 1300px;
		justify-content: center;
		align-items: center;
		display: block;
		margin: auto 20px;
		padding: auto auto;
	}

	.singlebox {
		height: 500px;
		width: 100%;
		justify-content: center;
		align-items: center;
		margin: auto 20px;
		padding: auto auto;
		display: flex;
		flex-flow: row wrap;
		
	}

	#sports #he {
		height: 268px;
	}

	#cultural #he {
		height: 268px;
	}

	#technology #he {
		height: 268px;
	}

	.columns {
		display: block;
		justify-content: center;
		align-items: center;
		margin: auto auto;
		padding: auto auto;
	}

	#div1 {
		margin-top: 230px;
	}
	#div2 {
		margin-top: 20px;
	}
	#div3 {
		margin-top: 20px;
	}
	#div1 a h2 {
		font-size: 15px;
	}
	#div2 a h2 {
		font-size: 15px;
	}
	#div3 a h2 {
		font-size: 15px;
	}
	#div1 {
		height: 50px;
		width: 150px;
		padding-top: 1px;
	}
	#div2 {
		height: 50px;
		width: 150px;
		padding-top: 1px;
	}
	#div3 {
		height: 50px;
		width: 150px;
		padding-top: 1px;
	}

}



/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 700px;
}
.home_background_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.home_background
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_content
{
	position: absolute;
	left: 50%;
	bottom: 310px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	background: rgba(0,0,0,0.5);
	padding-top: 24px;
	padding-bottom: 18px;
	padding-left: 39px;
	padding-right: 42px;
	border: 0px solid #000000;
	transition: border-width 0.6s linear;
}

.home_content:hover {
	border-width: 6px;
}
.home_content h1
{
	font-size: 72px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 0.5;
	white-space: nowrap;
	
}

.tags {
	margin-top: 500px;
	color: #ffffff;
	height: 100px;
	padding: 10px 10px;
	justify-content: center;
	text-align: center;
	background: rgba(0,0,0,0.5);  /* fallback for old browsers */
	border: 0px solid black;
}

.tags a h2 {
	color: #ffffff;
	font-size: 30px;
	margin: 20px auto;
}




.heading {
	color: #000;
	font-size: 70px;
	padding: 10px 10px;
	margin-bottom: 0;
	background: #03001e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

 .head {
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #000;
	font-size: 80px;
	height: 300px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 90px;
}




h3 {
	color: #FFFFFF;
	padding-top: 25px;
	padding-left: 30px;
	font-size: 50px;
}



.content {
	padding-top: 10px;
	color: #FFFFFF;
	font-weight: 400;
	justify-content: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 .col img {
 	justify-content: center;
	 text-align: center;
	 margin: 90px 20px;
 	 height: 300px;
 	 width: 300px;
	 border-radius: 5px;
	 border: 2px solid #000000;
	 transition: transform .4s linear;
 }
 

.col img:hover {
	transform: scale(0.9);
	  }
	  
.containers {
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


#sports h1 {
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ffffff;
	font-size: 60px;
	background-color: rgba(0,0,0,0.5);
	height: 150px;
	margin: auto auto;
	padding-top: 35px;
}

#cultural h1 {
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ffffff;
	font-size: 60px;
	background-color: rgba(0,0,0,0.5);
	height: 150px;
	margin: auto auto;
	padding-top: 35px;
}

#technology h1 {
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ffffff;
	font-size: 60px;
	background-color: rgba(0,0,0,0.5);
	height: 150px;
	margin: auto auto;
	padding-top: 35px;
}


/************************/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #05dfd7;
    color: white;
}

.modal-body {padding: 2px 16px;}

.club {
	display: inline;
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

h4 {
	display: inline;
	font-size: 26px;
}

.club span {
	font-size: 22px;
}